header {
    background-color: $color-dark;
    font-family: $font-logo;
    color: $color-offwhite;
}

header a {
    font-size: 10px;
    color: $color-offwhite;
}

header h1 {
    font-size: 40px;
}

main {
    font-family: $font-main;
    color: $color-black;
    background-color: $color-offwhite;
}

.button {
    font-size: 14px;
    font-weight: bold;
    background-color: $color-dark;
    color: $color-black;
    border: 2px solid $color-dark;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 20px;
}

main h2{
    font-size: 20px;
}

.bold_title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

p {
    color: $color-dark;
    padding: 10px 20px;
}