header {
    display:flex;
    padding: 20px 40px;
}

.nav_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

header a{
    padding: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro_and_image {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.intro_and_image img {
    width: 300px;
}

.base_paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.row_of_items {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}