@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

.header {
  background-color: #497b86;
  font-family: "Quicksand", sans-serif;
  color: #f2ecdc;
}
.header .header__title {
  font-size: 20px;
  white-space: nowrap;
}
.header .header__link {
  font-size: 10px;
  color: #f2ecdc;
}
.header .header__link--hover:hover {
  color: #d99774;
  font-weight: bold;
}

main {
  font-family: "Raleway", sans-serif;
  color: #f2ecdc;
  background-color: #497b86;
  margin: 0px 20px;
}

.common__p {
  padding: 20px 0px;
}

.common__title {
  font-size: 20px;
  font-weight: bold;
}

.button {
  font-size: 14px;
  color: #f2ecdc;
  border: 1px solid #d99774;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0px;
}

.button--hover:hover {
  background-color: #d99774;
  color: #497b86;
  font-weight: bold;
}

.intro {
  padding: 40px;
}

.specialty {
  padding: 40px;
  margin: 40px 0px;
}

.common__borders {
  border-top: 1px solid #d99774;
  border-bottom: 1px solid #d99774;
  padding: 40px 0px 40px 0px;
}

.values {
  padding: 40px;
}
.values .values__description {
  font-size: 24px;
}

.background {
  padding: 40px;
}
.background .background_details {
  column-count: 2;
  padding: 40px 0px 40px 0px;
}
.background .small__p {
  font-size: 10px;
  text-align: left;
}

.skills {
  padding: 40px;
}
.skills .skills__grid {
  padding: 40px 0px 40px 0px;
}
.skills .skills__grid .skills__skill {
  padding: 20px;
}
.skills .skills__grid .skills__skill--border {
  border-left: 1px solid #f2ecdc;
}
.skills .button {
  margin: 0px 20px 0px 0px;
}

.projects {
  padding: 40px;
}
.projects .projects__grid {
  padding: 40px 0px 40px 0px;
}
.projects .project__details {
  background-color: #f2ecdc;
  color: #497b86;
  padding: 20px;
}
.projects .project__icon {
  display: flex;
  justify-content: center;
  border: 20px solid #497b86;
}
.projects .project__image {
  color: #497b86;
  background-color: #f2ecdc;
  border: 1px solid #f2ecdc;
  width: 100%;
  padding: 20px;
  margin: 20px 0px;
}
.projects .project__technology {
  color: #d99774;
  font-size: 10px;
  font-weight: bold;
  padding: 20px 0px;
}
.projects .project__description {
  font-size: 10px;
  padding: 20px 0px;
}
.projects .project__link {
  color: #497b86;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 20px 0px 0px;
}
.projects .project__link--hover:hover {
  color: #d99774;
  font-weight: bold;
}

.footer {
  font-family: "Raleway", sans-serif;
  color: #f2ecdc;
  background-color: #497b86;
  margin: 0px 20px;
}
.footer .footer__title {
  font-size: 40px;
}
.footer .footer__details {
  font-size: 16px;
  padding: 40px;
}

.copyright {
  font-family: "Raleway", sans-serif;
  color: #f2ecdc;
  background-color: #497b86;
  margin: 0px 20px 20px 20px;
}
.copyright .copyright__description {
  font-size: 16px;
  padding: 20px;
}
.copyright .copyright__link {
  color: #f2ecdc;
  padding: 20px;
}
.copyright .copyright__link--hover:hover {
  color: #d99774;
}

.header {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  margin: 0px 20px;
}
.header .header__link {
  padding: 20px;
}
.header .header__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.intro .intro__container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.intro .intro__container .intro__image {
  width: 25vw;
}
.intro .intro__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.specialty {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 20px;
}

.values {
  display: flex;
  justify-content: flex-start;
}

.background .background__image {
  display: none;
}

.skills .skills__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50%;
}
.skills .skills__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills__buttons {
  display: flex;
}

.projects .projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}
.projects .project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.projects .project__links {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__links {
    display: none;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .intro .intro__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .intro .intro__description .common__title {
    text-align: center;
  }
  .intro .intro__image {
    display: none;
  }

  .specialty {
    margin: 0;
  }

  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background .background__image {
    display: block;
    width: 80vw;
    padding: 20px 0px;
  }
  .background .background_details {
    column-count: 1;
    font-size: 14px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
  }
  .skills .skills__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80vw;
  }
  .skills .skills__grid .skills__skill {
    padding: 10px;
  }
  .skills .skills__grid .skills__skill--border {
    border-left: none;
  }
  .skills .skills__buttons {
    display: none;
  }

  .projects .projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
  .projects .project__image {
    display: none;
  }
  .projects .common__title {
    text-align: center;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copyright .copyright__description--blank {
    display: none;
  }
}